.container {
    position: fixed;
    bottom: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.toast {
    padding: 7px 12px;
    border-radius: 4px;
    align-items: center;
    margin: 2px;
    box-shadow: 3px 4px 29px -1px rgba(0,0,0,0.75);
    color: white;
}

.success {
    background-color: #03a9f4;
}

.info {
    background-color: #03a8f4b0;
}

.warning {
    background-color:  #ff5722;
}

.danger {
    background-color: #e91e629c;
}