.header
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    color: #03a9f4;
}

.content
{
    margin: auto;
    width: 80%;
}

a
{
    color: #03a9f4
}